/notes_finished_2.php
/notes_finished_3.php
/notes-full.php
/install_full.txt
/installation.txt
/notes.php
/notes_finished.php
/add-programmer.txt
/install_clone.txt
/assets/scripts/hashtags-entertainment.txt
/assets/scripts/hashtags-misc.txt
/assets/scripts/hashtags-sports.txt
